{% extends 'base_auth.html' %}
{% load staticfiles %}
{% block hat %}
    <title>Ask Paul</title>
		<div class="col-md-12">
			<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      			<a class="navbar-brand" href="{% url 'hot' %}">Ask Paul</a>
    			</div>
      		<form class="navbar-form navbar-left">
        		<div class="form-group">
          		<input type="text" class="form-control" placeholder="Search">
        		</div>
        		<button type="submit" class="btn btn-default">ASK</button>
      		</form>
					<p><img class="myimg" src="{% static 'hammer.png' %}" alt="Choose"></p>
				</div>
			</nav>
			<div class="Uname">Paulik</div>
    	<div class="log">
				<a href="{% url 'settings' %}">settings</a>
				<a href="{% url 'base' %}">logout	</a>
			</div>
		</div>
{% endblock %}
{% block content %}
		<div class="col-md-6">
			<h1>Tag: {{tag}}</h1>
			<div class="panel panel-default">
  			<div class="panel-body">
					<div class="col-md-2">
						<img width="80" height="80" src="{% static  'hammer.png' %}" alt="image" class="img-rounded">
							<div class="panel panel-default">
							<div class="panel-body2">	
								<p class="TextIn"><a href="/"><img class="MyImg2" width="13" height="13" src="{% static 'arrow_up.png' %}" align="right"></a>5<br><a href="/"><img class="MyImg2" width="13" height="13" src="{% static 'arrow_down.png' %}" align="right"></a></p>	
							</div>
						</div>					
					</div>							
					<div class="col-md-10 col-md-offset-0">
						<a href="/" class="MainQuestion"><h1>Контрольный вопрос</h1></a>
						<p class="Textpoint">Данный термин переводится как «печенье», ибо поскольку это название лишь 
  сбивает с толку, его оставляют без перевода. Cookie...</p>
							<a href="/">answer (3)</a>
							<div class="Probel">
							<nobr>Tags:</nobr>
							
							<a href="/">black-jack</a>
							<a href="/">bender</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
  			<div class="panel-body">
					<div class="col-md-2">
						<img width="80" height="80" src="{% static  'hammer.png' %}" alt="image" class="img-rounded">
							<div class="panel panel-default">
							<div class="panel-body2">	
								<p class="TextIn"><a href="/"><img class="MyImg2" width="13" height="13" src="{% static 'arrow_up.png' %}" align="right"></a>5<br><a href="/"><img class="MyImg2" width="13" height="13" src="{% static 'arrow_down.png' %}" align="right"></a></p>	
							</div>
						</div>					
					</div>				
					<div class="col-md-10 col-md-offset-0">
						<a href="/" class="MainQuestion"><h1>Контрольный вопрос</h1></a>
						<p class="Textpoint">Данный термин переводится как «печенье», ибо поскольку это название лишь 
  сбивает с толку, его оставляют без перевода. Cookie...</p>
							<a href="/">answer (3)</a>
							<div class="Probel">
							<nobr>Tags:</nobr>
							
							<a href="/">black-jack</a>
							<a href="/">bender</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
  			<div class="panel-body">
					<div class="col-md-2">
						<img width="80" height="80" src="{% static  'hammer.png' %}" alt="image" class="img-rounded">
							<div class="panel panel-default">
							<div class="panel-body2">	
								<p class="TextIn"><a href="/"><img class="MyImg2" width="13" height="13" src="{% static 'arrow_up.png' %}" align="right"></a>5<br><a href="/"><img class="MyImg2" width="13" height="13" src="{% static 'arrow_down.png' %}" align="right"></a></p>
							</div>
						</div>					
					</div>					
					<div class="col-md-10 col-md-offset-0">
						<a href="/" class="MainQuestion"><h1>Контрольный вопрос</h1></a>
						<p class="Textpoint">Данный термин переводится как «печенье», ибо поскольку это название лишь 
  сбивает с толку, его оставляют без перевода. Cookie...</p>
							<a href="/">answer (3)</a>
							<div class="Probel">
							<nobr>Tags:</nobr>
							
							<a href="/">black-jack</a>
							<a href="/">bender</a>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1" aria-label="Previous">
						  <span aria-hidden="true">&laquo;</span>
						  <span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
					</li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">53</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
						  <span aria-hidden="true">&raquo;</span>
						  <span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
{% endblock %}
