{% extends 'base_auth.html' %}
{% block auth %}
{% include 'header_auth.html' %}
{% endblock %}
{% block content %}
		<div class="col-md-6">
  			<div class="panel-body">
					<div class="col-md-2">
						<img width="80" height="80" src="/hammer.png" alt="image" class="img-rounded">
						<div class="panel panel-default">
							<div class="panel-body2">	
								<p class="TextIn"><a href="/"><img class="MyImg2" width="13" height="13" src="/arrow_up.png" align="right"></a>5<br><a href="/"><img class="MyImg2" width="13" height="13" src="/arrow_down.png" align="right"></a></p>		
							</div>
						</div>			
					</div>							
					<div class="col-md-10 col-md-offset-0">
						<a href="{% url 'onequestion' urlquestion %}" class="MainQuestion"><h1>Контрольный вопрос №{{urlquestion}}</h1></a>
						<p class="Textpoint">Данный термин переводится как «печенье», ибо поскольку это название лишь 
  сбивает с толку, его оставляют без перевода. Cookie можно использовать для 
  сохранения даты последнего посещения читателя, паролей, а также любой 
  информации о действиях посетителя на сайте. Подобное применение позволяет 
  персонализировать сайт и сделать его более удобным для посетителей.</p>
							<nobr>Tags:</nobr>
							<a href="/">black-jack</a>
							<a href="/">bender</a>
					</div>
				</div>
				<hr>
			<div class="panel panel-default">
  			<div class="panel-body">
					<div class="col-md-2">
						<img width="80" height="80" src="/hammer.png" alt="image" class="img-rounded">
						<div class="panel panel-default">
							<div class="panel-body2">	
								<p class="TextIn"><a href="/"><img class="MyImg2" width="13" height="13" src="/arrow_up.png" align="right"></a>5<br><a href="/"><img class="MyImg2" width="13" height="13" src="/arrow_down.png" align="right"></a></p>		
							</div>
						</div>			
					</div>							
					<div class="col-md-10 col-md-offset-0">
						<p class="Textpoint">Данный термин переводится как «печенье», ибо поскольку это название лишь. Данный термин переводится как «печенье», ибо поскольку это название лишь 
  сбивает с толку, его оставляют без перевода. Cookie можно использовать для 
  сохранения даты последнего посещения читателя, паролей, а также любой 
  информации о действиях посетителя на сайте. </p>
						<nobr><input type="checkbox" name="option1" value="a1" checked> Correct!</nobr>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
  			<div class="panel-body">
					<div class="col-md-2">
						<img width="80" height="80" src="/hammer.png" alt="image" class="img-rounded">
						<div class="panel panel-default">
							<div class="panel-body2">	
								<p class="TextIn"><a href="/"><img class="MyImg2" width="13" height="13" src="/arrow_up.png" align="right"></a>5<br><a href="/"><img class="MyImg2" width="13" height="13" src="/arrow_down.png" align="right"></a></p>		
							</div>
						</div>			
					</div>							
					<div class="col-md-10 col-md-offset-0">
						<p class="Textpoint">Данный термин переводится как «печенье», ибо поскольку это название лишь. Данный термин переводится как «печенье», ибо поскольку это название лишь 
  сбивает с толку, его оставляют без перевода. Cookie можно использовать для 
  сохранения даты последнего посещения читателя, паролей, а также любой 
  информации о действиях посетителя на сайте. </p>
						<nobr><input type="checkbox" name="option1" value="a1"> Correct!</nobr>
					</div>
				</div>
			</div>
			<hr>
			<form class="form-horizontal">
  			<div class="form-group">
    			<div class="col-sm-12">
      			<input class="TextField" type="text" class="form-control" id="inputAnswer" placeholder="Enter your answer here.">
    			</div>
				<div class="col-md-2">
  				<button style="margin-top: 10px" type="submit" class="btn btn-default">Answer</button>	
				</div>
				</div>
			</form>	
		</div>
{% endblock %}
